<sly-card

        style="padding: 0 0;"
>

    <div v-loading="state.loading" element-loading-text="Loading...">

        <div class="app-header">
            <div class="fflex mb5 mt5 ml10 mr10" style="justify-content: space-between">
                <el-tag type="gray"
                        style="font-size: 14px">
                    <b>SELECT OBJECT:</b>
                </el-tag>
                <div class="fflex mb5 mt5 " style="justify-content: center">
                    <el-button type="primary"
                               size="small"
                               class="regular mt5 ml5 mb5"
                               @click="state.loading = true; command('prev_object');"
                               style="width: 106px">
                        <i class="el-icon-arrow-left el-icon-left"></i>
                    </el-button>

                    <el-button type="primary"
                               size="small"
                               class="regular mt5 ml5 mb5"
                               @click="state.loading = true; command('next_object');"
                               style="width: 106px">
                        <i class="el-icon-arrow-right el-icon-right ml10"></i>
                    </el-button>
                </div>


            </div>
        </div>


        <sly-card class="mt5 mb5">
            <div v-if="!state.selectedDatabaseItem">
                <sly-field title="INFO: object is not selected"
                           description="search and select from table below"
                           style="padding-top: 0; padding-bottom: 4px">

                    <sly-icon slot="icon" :options="{ color: '#13ce66', bgColor: '#e1f7eb', rounded: false }">
                        <i class="zmdi zmdi-info"></i>
                    </sly-icon>
                </sly-field>
            </div>

            <sly-field v-if="state.selectedDatabaseItem"
                       title="Selected object"
                       description="from database"
                       style="padding-top: 4px; padding-bottom: 0">
                <div class="fflex"
                     style="flex-direction: column; justify-content: center;">

                    <div style="margin-bottom: 0">
                        <div class="fflex"
                             style="flex-direction: column; justify-content: center;">

                            <el-tag style="font-size: 15px; margin: 0 0">
                                TAG: {{state.selectedDatabaseItem.current_label}}
                            </el-tag>

                            <div class="fflex"
                                 style="flex-direction: row; height: 236px">

                                <div
                                        class="fflex"
                                        style="flex-direction: column; width: 150px; margin: 0 30px">
                                    <el-button type="success"
                                               style="margin: 5px; width: 100%"
                                               @click="state.lastAssignedTag = state.selectedDatabaseItem;
                                               state.selectedDatabaseItem.assignDisabled = true; command('assign_tag_to_figure');"
                                               :disabled="state.selectedDatabaseItem.assignDisabled"
                                    >
                                        Assign
                                    </el-button>
                                    <el-button type="warning"
                                               style="margin: 5px; width: 100%"
                                               :disabled="true"

                                    >
                                        Reference
                                    </el-button>
                                </div>

                                <div class="fflex"
                                     style="flex-direction: column; justify-content: center; align-items: center;"
                                >

                                    <sly-image-slider
                                            class="fflex"
                                            style="width: 250px; height: 250px; justify-content: center; align-items: center"
                                            :data="state.selectedDatabaseItem.url"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </sly-field>
            <hr class="mt10 mb10" style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
            <sly-field title="Database of reference data"
                       description=""
                       style="padding-top: 4px; padding-bottom: 0">

                <!--                {{state.selectedRowData}}-->
                <sly-table class="mt10"
                           v-if="data.items_database.length > 0"
                           :options="{perPage: 20, pageSizes: 20}"
                           :content="data.items_database"
                           @input="state.selectedRowLabel = $event.selectedRowData.label; command('show_database_row')"
                >
                </sly-table>
            </sly-field>

        </sly-card>


    </div>
</sly-card>