<div class="ml5 mt5 mr5" v-loading="state.loading" element-loading-text="Loading...">
    <div>If {{state.applyTo}} already has tags that model produces, they will be shown here. It helps to quickly review
        assigned tags for quality assurance.
    </div>
    <div v-if="data.reviewTags">
        <div v-if="data.reviewTags.length == 0">
            {{state.applyTo}} does not have tags that model produces
            (intersection of model tags and {{state.applyTo}} tags is empty)
        </div>
        <div v-else>
            <div class="mt10">
                <b v-if="state.applyTo === 'object'">OBJECT ALREADY HAS THE FOLLOWING TAGS:</b>
                <b v-if="state.applyTo === 'image'">IMAGE ALREADY HAS THE FOLLOWING TAGS:</b>
            </div>
            <div class="fflex">
                <el-button type="text" size="mini"
                           :disabled="data.reviewTags === state.activeNamesReview"
                           @click="state.activeNamesReview = data.reviewTagsNames"
                >
                    <i class="zmdi zmdi-unfold-more mr5"></i>Expand all
                </el-button>
                <el-button type="text" size="mini"
                           :disabled="state.activeNamesReview.length == 0"
                           @click="state.activeNamesReview = []"
                >
                    <i class="zmdi zmdi-unfold-less mr5"></i>Collapse all
                </el-button>
            </div>
        </div>
    </div>
    <el-collapse class="xxx" v-model="state.activeNamesReview" v-if="data.reviewTags && data.reviewTags.length > 0">
        <el-collapse-item v-for="tag in data.reviewTags" :name="tag.name">
            <template slot="title">
                <span style="min-width: 35%; display: inline-block;">
                    <i class="zmdi zmdi-label mr5" :style="{color: tag.color}"></i>{{tag.name}}
                </span>
                <span>user:<b class="ml10"> {{tag.labelerLogin}}</b></span>
            </template>
            <el-button size="small" type="warning" class="mt5 ml5 mb5"
                       @click="state.removeTagName = tag.name; state.removeTagId = tag.id; command('remove_tag');"
                       :loading="state.loading"
                       :disabled="state.applyTo === 'object' && !context.figureId"
            >
                Remove tag "{{tag.name}}" from selected {{state.applyTo}}
            </el-button>
            <sly-image-slider v-if="data.tagsExamples.hasOwnProperty(tag.name)" :data="data.tagsExamples[tag.name]"/>
        </el-collapse-item>
    </el-collapse>
</div>